div.container {
  margin: 5px 15px 5px;
}

a {
  display: inline-block;
  border: 1px solid gray;
  text-decoration: none;
  color: black;
  background-color: lightgray;
  padding: 10px;
  margin: 5px;
}
